.action-section{
    width: 1440px;
    margin: 0 auto;
    padding-top: 200px;
}
.deposit-form{
    margin-bottom: 21px;
}
.card-to-card-form{
    margin-top: 20px;
    .card-button{
        margin-top: 10px;
    }

}
.actions-form{
    margin-top: 20px;
}